ffmpeg==1.4
ffmpeg-python==0.2.0
ffprobe==0.5


# General

pyrogram
aiogram == 2.13

# Optional deps to make bot faster
aiohttp[speedups]
cryptg
cryptography

# Other
jikanpy
envparse
hypercorn
aiocron
apscheduler
requests
python-rapidjson
PyYAML>5.0
coloredlogs
loguru
babel
captcha
async-timeout
regex
bs4
hachoir
telegraph
faker
gtts
geopy
tswift
lyricsgenius
sentry_sdk
html5lib
feedparser
tldextract
dateparser
twistdl

#Pyrogram
tgCrypto>=1.2.2

#Old DB Processes
psycopg2-binary==2.8.6

#YTDL
youtube_dl
youtube_search_python

#Search
bs4
html2text
bing_image_downloader 
search_engine_parser
pornhub_api
youtube_search

#Memes
selenium
zalgo_text 
cowpy 
fontTools
nltk
emoji

#Deezer
wget
asyncio

#Markup
Markdown>=3.3.4

Pillow>=4.2.0

#Bassboost
pydub

#Lel
cloudmersive_virus_api_client==3.0.1
chromedriver==2.24.1

#Updator
gitpython==3.1.11
heroku3==4.2.3

pykeyboard 
countryinfo
flag
Python_ARQ 
googletrans==4.0.0-rc1
pyromod
aiofiles
pygithub

tzlocal==2.0
yt_dlp



